@use '../../../../styles.scss' as styles;

form {
    label {
        font-size: 14px;
        font-family: 'Josefin Sans';
        font-weight: 400;
        margin-left: 20px;
    }
    
    .email-name-wrapper {
        display: flex;
        margin-bottom: 24px;
        gap: 24px;

    }
    .input-container {
        display: flex;
        flex-direction: column;

        input[type=text], input[type=email], textarea {
            background-color: transparent;
            border: 1px solid;
            border-radius: 30px;
            width: 445px;
            height: 60px;
            resize: vertical;
            padding: 0 18px;
        }

        textarea {
            height: 164px;
            width: 100%;
        }

    }
    .privacy-p-wrapper {
        display: flex;
        align-items: center;
        gap: 8px;
        margin-top: 12px;

        a {
            font-size: 18px;
            color: styles.$light-blue;
            &:hover {
                cursor: pointer;
            }
        }

        img {
            &:hover {
                cursor: pointer;
            }
        }
    }
}

.btn-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .btn-submit {
        background-color: transparent;
        border: 1px solid styles.$light-blue;
        border-radius: 30px;
        font-size: 18px;
        color: styles.$light-blue;
        font-family: 'Josefin Sans', sans-serif;
        padding: 13px 30px; 
        margin-top: 24px;
        &:hover {
            scale: 1.05;
            cursor: pointer;
        }
    }
}

.invalid {
    color: styles.$red;
}

.valid, .default {
    color: styles.$light-blue;
}

@media screen and (max-width: 1000px) {
    form{
        max-width: 700px;

        .input-container {
            input[type=text], input[type=email] {
                width: 342px;
            }
        }
    }
}


@media screen and (max-width: 740px) {
    form {
        margin: 12px;

        .email-name-wrapper{
            flex-direction: column;
        }
        .input-container {
            input[type=text], input[type=email], textarea {
                width: initial;
            }
        }
    }
    
}

@media screen and (max-width:400px) {
        p {
            font-size: 14px;
        }
}
