<form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="email-name-wrapper">
        <div class="input-container">
            <label for="name">Your name</label>
            <input [(ngModel)]="contactData.name" type="text" id="text" name="text" required>
        </div>
        <div class="input-container">
            <label for="email">Your email</label>
            <input [(ngModel)]="contactData.email" type="email" id="email" name="email" required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">
        </div>
    </div>
    <div class="input-container">
        <label for="message">Your message</label>
        <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" name="message" id="message"  required></textarea>
        @if (!message.valid && message.touched) {
            <span>Please enter a message</span>
        }
    </div>
    <div class="privacy-p-wrapper">
        <img src="./assets/graphics/contact/checkbox/Property 1=Default (3).svg" alt="">
        <p>I've read the <span>privacy policy </span>and agree to the processing of my data as outlined.</p>
    </div>
    <div class="btn-wrapper">
        <input class="btn-submit" type="submit" value="Submit">
    </div>
</form>
