@use '../../../styles.scss';

.small-content-wrapper {
    width: 911px;
}
.contact-text-wrapper {
    display: flex;
    gap: 36px;
    align-items: flex-start;
    margin-bottom: 36px;
    width: 100%;

    p{
        width: 50%;
    }

    .contact-info-box {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;

        img {
            margin-right: 12px;
        }
    }
}
