<div class="btn-wrapper">
    <div id="contact" class="content-box">
        <section class="small-content-wrapper">
            <h2>{{'contact.title' | translate}}</h2>
            <div class="contact-text-wrapper" >
                <p>{{'contact.description' | translate}}</p>
                <div class="contact-info">
                    <div class="contact-info-box">
                        <img src="./assets/graphics/contact/🦆 icon _email_.svg" alt="">
                        <p>Email: catalina.acosta.rivera&#64;gmail.com</p>
                    </div>
                    <div class="contact-info-box">
                        <img src="./assets/graphics/contact/🦆 icon _phone_.svg" alt="">
                        <p>Tel: 0151 656 856 58</p>
                    </div>
                </div>
            </div>
            <app-contact-form></app-contact-form>
        </section>
    </div>
    <a href="#hero"><button class="arrow-btn"><img src=".\assets\graphics\buttons\Arrow Up.svg" alt=""></button></a>
</div>
