<div class="contact content-box">
    <section class="small-content-wrapper">
        <h2>Contact me</h2>
        <div class="contact-text-wrapper" >
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Iure cupiditate asperiores dolor, vitae eum dolorum voluptatem laboriosam, 
                fugit ad aperiam nisi dicta. Consectetur, error! Harum repellendus fugiat 
                neque incidunt a.
            </p>
            <div class="contact-info">
                <div class="contact-info-box">
                    <img src="./assets/graphics/contact/🦆 icon _email_.svg" alt="">
                    <p>Email: catalina.acosta.rivera&#64;gmail.com</p>
                </div>
                <div class="contact-info-box">
                    <img src="./assets/graphics/contact/🦆 icon _phone_.svg" alt="">
                    <p>Tel: 0151 656 856 58</p>
                </div>
            </div>
        </div>
        <form action="">
            <div class="input-container">
                <label for="name">Your name</label>
                <input type="text">
            </div>
            <div class="input-container">
                <label for="">Your email</label>
                <input type="text">
            </div>
            <div class="input-container">
                <label for="">Your message</label>
                <input type="text">
            </div>
        </form>
        <p><img src="./assets/graphics/contact/checkbox/Property 1=Default (3).svg" alt="">I've read the <span>privacy policy </span>and agree to the processing of my data as outlined.</p>
        <div class="btn-wrapper">
            <button>Send</button>
        </div>
    </section>
</div>
