<div class="contact content-box">
    <section>
        <h2>Contact me</h2>
        <div class="small-content-wrapper">
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. 
                Iure cupiditate asperiores dolor, vitae eum dolorum voluptatem laboriosam, 
                fugit ad aperiam nisi dicta. Consectetur, error! Harum repellendus fugiat 
                neque incidunt a.
            </p>
            <div class="contact-info">
                <p><img src="./assets/graphics/contact/🦆 icon _email_.svg" alt="">Email: catalina.acosta.rivera&#64;gmail.com</p>
                <p><img src="./assets/graphics/contact/🦆 icon _phone_.svg" alt="">Tel: 0151 656 856 58</p>
            </div>
        </div>
        <form action="">
            <label for="name">Your name</label>
            <input type="text">
            <label for="">Your email</label>
            <input type="text">
            <label for="">Your message</label>
            <input type="text">
        </form>
        <p><img src="./assets/graphics/contact/checkbox/Property 1=Default (3).svg" alt="">I've read the <span>privacy policy </span>and agree to the processing of my data as outlined.</p>
        <div class="btn-wrapper">
            <button>Send</button>
        </div>
    </section>
</div>
