@use '../../../styles.scss';

#contact {
    scroll-margin-top: 100px;
}

.content-box {
    margin: 0 0 102px 0;
}

.outer-container {
    display: flex;
    justify-content: center;
}

.btn-wrapper {
    display: flex;
    max-width: 1012px;
}

.small-content-wrapper {
    max-width: 911px;
}

.contact-text-wrapper {
    display: flex;
    gap: 36px;
    align-items: flex-start;
    margin-bottom: 36px;
    width: 100%;

    p{
        width: 50%;
    }

    .contact-info-box {
        display: flex;
        align-items: center;
        width: 100%;

        p {
            width: 100%;
        }

        img {
            margin-right: 12px;
        }
    }
}

a {
    margin-top: 10px;
    transform: translate(80px, 6px);
}

@media screen and (max-width: 1056px) {
    .small-content-wrapper {
        max-width: 700px;
    }
    a {
        transform: translate(40px, 6px);
    }
}

@media screen and (max-width: 840px) {
    a {
        transform: translate(-20px, 6px);
    }
}

@media screen and (max-width:740px) {

    h2 {
        margin-bottom: 36px;
    }

    .small-content-wrapper {
        padding: 0 24px;
        width: 100%;
    }

    .content-box {
        margin-bottom: 0;
    }

    .btn-wrapper {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 40px;
        
        a {
            transform: none;
            margin-top: 0;
        }
    }

    h4 {
        font-size: 18px;
        text-align: center;
    }

    p {
        font-size: 16px;
        text-align: left;
        width: 80%;
    }

    .contact-text-wrapper {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 24px;
        gap: 18px;

        .contact-info-box {
            margin: 8px 0;
        }

        p {
            width: 100%;
        }
    }
}

@media screen and (max-width:400px) {
    .small-content-wrapper {
        padding: 0;
        max-width: 300px;
    }

    .contact-text-wrapper {
        
        p {
            font-size: 14px;
        }
    }
}
