@use '../../../styles.scss';

#contact {
    scroll-margin-top: 100px;
}

.btn-wrapper {
    display: flex;
}

.small-content-wrapper {
    max-width: 911px;
}

.contact-text-wrapper {
    display: flex;
    gap: 36px;
    align-items: flex-start;
    margin-bottom: 36px;
    width: 100%;

    p{
        width: 50%;
    }

    .contact-info-box {
        display: flex;
        align-items: center;
        width: 100%;

        p {
            width: 100%;
        }

        img {
            margin-right: 12px;
        }
    }
}

a {
    margin-top: 116px;
    transform: translateX(-42px);
}

@media screen and (max-width: 1000px) {
    .small-content-wrapper {
        max-width: 700px;
    }
}

@media screen and (max-width:740px) {
    .small-content-wrapper {
        padding: 0 24px;
    }

    .btn-wrapper {
        a {
            display: none;
        }
    }

    h4 {
        font-size: 18px;
        text-align: center;
    }

    p {
        font-size: 16px;
        text-align: left;
        width: 80%;
    }

    .contact-text-wrapper {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 24px;

        .contact-info-box {
            margin: 8px 0;
        }

        p {
            width: 100%;
        }
    }
}

@media screen and (max-width:400px) {
    .small-content-wrapper {
        padding: 0;
        max-width: 300px;
    }

    .contact-text-wrapper {

        p {
            font-size: 14px;
        }
    }

}
