<div class="footer">
    <div class="footer-wrapper">
        <div class="legal-text">
            <p>Legal notice</p>
            <p>&copy; Catalina Acosta Rivera 2025</p>
        </div>
        <img class="logo" src=".\assets\graphics\logo\Property 1=Default (1).svg" alt="">
        <div class="socials">
            <img src=".\assets\icons\email\Property 1=white.svg" alt="">
            <img src=".\assets\icons\github\Property 1=white.svg" alt="">
            <img src=".\assets\icons\linkedin\Property 1=white.svg" alt="">
        </div>
    </div>
    <div class="footer-mobile-wrapper">
        <img class="logo" src=".\assets\graphics\logo\Property 1=Default (1).svg" alt="">
        <div class="socials">
            <img src=".\assets\icons\email\Property 1=white.svg" alt="">
            <img src=".\assets\icons\github\Property 1=white.svg" alt="">
            <img src=".\assets\icons\linkedin\Property 1=white.svg" alt="">
        </div>
        <div class="legal-text">
            <p>Legal notice</p>
            <p>&copy; Catalina Acosta Rivera 2025</p>
        </div>
    </div>

</div>
