<div class="projects">
    <section>
        <h2>My Projects</h2>
        <div class="project-menu">
            <a href="">1.Join</a>
            <a href="">2.Sharkie</a>
            <a href="">3.Pokedex</a>
            <a href="">4.Portfolio</a>
        </div>
        <div class="project-display">
            <div class="project-info">
                <img src="./assets/graphics/projects/Ellipse 8.svg" alt="">
                <div class="project-details">
                    <h5>About the project</h5>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, 
                        modi quidem alias explicabo veniam saepe architecto delectus sapiente 
                        tenetur excepturi voluptas 
                        harum voluptatibus aliquam vitae optio placeat natus beatae odio?
                    </p>
                </div>
                <div class="project-details">
                    <h5>How I have organized my work process</h5>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, 
                        modi quidem alias explicabo veniam saepe architecto delectus sapiente 
                        tenetur excepturi voluptas 
                        harum voluptatibus aliquam vitae optio placeat natus beatae odio?
                    </p>
                </div>
                <div class="project-details">
                    <h5>My group work experience</h5>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, 
                        modi quidem alias explicabo veniam saepe architecto delectus sapiente 
                        tenetur excepturi voluptas 
                        harum voluptatibus aliquam vitae optio placeat natus beatae odio?
                    </p>
                </div>
            </div>
            <div class="project-details">
                <p>Technologies</p>
                <div class="img-container">
                    <p>comming soon...</p>
                </div>
                <div class="button-wrapper">
                    <button>Live Test</button>
                    <button>GitHub</button>
                </div>
            </div>
        </div>
    </section>
</div>
