@use '../../../styles.scss';

.content-box {
    flex-direction: column;
}

.large-container {
    width: 1199px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-menu {
    width: 100%;

    .project-menu-box {
        display: flex;
        
        .project-menu-btn {
            padding: 36px;
            border: none;
            font-size: 30px;
        }

        .project-menu-btn-focus {
            background-color: styles.$projects-grey;
            padding: 36px;
            border: none;
            font-size: 30px;
            border-radius: 30px 30px 0 0;
        }
    }
}

.project-display {
    background-color: styles.$projects-grey;
    width: 100%;
}

.project-display-box {
    max-width: 1199px;
    display: flex;
    padding: 24px 0;
    gap: 48px;

    .project-info {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .details-box {
            display: flex;
            gap: 12px;
        }

        h5 {
            font-weight: 400;
        }
    }

}

.project-details {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center; 

    .tech-icons {
        img {
            padding: 0 12px
        }
    }

    .button-wrapper {
        button {
            margin: 0 24px;
        }
    }
}

// .img-container {
//     width: 454px;
//     height: 312px;
//     background-color: white;
//     border-radius: 12px;
// }