<div id="projects" class="content-box" data-aos="fade-right">
    <section class="large-container">
        <h2>{{'projects-title' | translate}}</h2>
        <div class="project-menu">
            <div class="project-menu-box">
                @for (project of projectList; track $index){
                        <button [ngClass]="{'project-menu-btn-focus': currentProject === $index, 'project-menu-btn': currentProject!== $index}" (click)="setCurrentProject($index)">{{$index + 1}}. {{project.title}}</button>
                }
            </div>
        </div>
    </section>
    <div class="project-display large-container">
        <div class="project-display-box">
            <div class="project-info" id="projectNumber{{this.currentProject}}">
                @for (item of projectList[this.currentProject].contentPs; track $index){
                    <div class="details-box">
                        <div class="img-wrapper">
                            <img src="./assets/graphics/projects/Ellipse 8.svg" alt="">
                        </div>
                        <div class="project-main-details">
                            <div class="title-wrapper">
                                <h5>{{item.sectionTitle | translate}}</h5>
                                <p class="duration">{{item.duration | translate}}</p>
                            </div>
                            <p>{{item.text | translate}}</p>
                        </div>
                    </div>
                }
                <div class="button-wrapper-mobile">
                    <a href="{{projectList[this.currentProject].liveTest}}" target="_blank" rel="noopener noreferrer"><button class="btn-primary">Live Test</button></a>
                    <a href="{{projectList[this.currentProject].github}}" target="_blank" rel="noopener noreferrer"><button class="btn-secondary">GitHub</button></a>
                </div>
            </div>
            <div class="project-details">
                <h4 class="project-title" >{{projectList[currentProject].title}}</h4>
                <p class="tech-icons-title">Technologies: </p>
                <p class="tech-names">Technologies: {{getTechnologiesString()}}</p>
                <p class="duration-mobile">{{projectList[currentProject].duration| translate}}</p>
                <div class="tech-icons">
                    @for (item of projectList[this.currentProject].technologies; track $index){
                        <img src="{{item.url}}" alt="{{item.name}}">
                        <p class="icon-name">{{item.name}}</p>
                    }
                </div>
                <div class="project-img-box">
                    <div class="project-img-wrapper">
                        <img class="project-img" src="{{projectList[this.currentProject].img}}" alt="">
                    </div>
                </div>
                <div class="button-wrapper-desktop">
                    <a href="{{projectList[this.currentProject].liveTest}}" target="_blank" rel="noopener noreferrer"><button class="btn-primary">Live Test</button></a>
                    <a href="{{projectList[this.currentProject].github}}" target="_blank" rel="noopener noreferrer"><button class="btn-secondary">GitHub</button></a>
                </div>
            </div>
        </div>
    </div>
</div>
