<div id="about" class="content-box" data-aos="fade-right">
    <section class="small-content-wrapper" >
        <h2>{{'about.title' | translate}}</h2>
        <div class="about-info">
            <div class="highlight">
                <!-- <img class="icon-desktop" src="./assets/graphics/about/Group 60.svg" alt=""> -->
                <img class="icon-mobile" src="./assets/graphics/about/remote_mobile.svg" alt="">
                <span id="typingIcon"></span><div class="span-wrapper"><span id="typing-text-blue"></span><span id="typing-text"></span></div> 
            </div>
            <div class="info-wrapper">
                <p>{{'about.information1' | translate}}</p>
                <p>{{'about.information2' | translate}}</p>
            </div>
        </div>
        <div class="btn-wrapper">
            <a href="#contact"><button class="btn-secondary">{{'about.button' | translate}}</button></a>
        </div>
    </section>
</div>
