<div id="about" class="content-box">
    <section class="small-content-wrapper" >
        <h2>Why me</h2>
        <div class="about-info">
            <div class="highlight">
                <img src="./assets/graphics/about/Group 60.svg" alt="">
                <h4><span>I am</span> located in Regensburg...|</h4> 
            </div>
            <p>Why are you passionate about coding?  
                You can include some key traits like: analytical thinking, creativity, persistence and  collaboration.
                A problem-solving mindset is always nice to have.
            </p>
        </div>
        <div class="btn-wrapper">
            <a href="#contact"><button class="btn-secondary">Lets talk</button></a>
        </div>
    </section>
</div>
