<div id="hero">
    <div class="container">
        <div class="img-container" (mouseenter)="isHovered(true)" (mouseleave)="isHovered(false)">
            <svg class="bg-svg" width="580" height="616" viewBox="0 0 580 616" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="bg-path-svg " d="M574.72 339.596C548.233 513.645 469.272 608.172 268.369 615.674C56.9723 623.568 0 486.76 0 348.097C0 175.549 122.94 -15.5056 360.824 0.999002C527.743 26.0063 601.208 165.547 574.72 339.596Z" fill="#89BCD9"/>
            </svg>
            <img class="img-default-mobile" src=".\assets\graphics\mobile\Ellipse 35.svg" alt="Default Image">
            <img class="hero-photo" src=".\assets\img\catalina_acosta_r.png" alt="">
        </div>
        <div class="hero-text">
            <img class="hero-logo" src=".\assets\graphics\logo\Variant2.svg" alt="">
            <h1>Catalina Acosta R.</h1>
            <h3>FRONTEND DEVELOPER</h3>
            <a href="#about"><button class="arrow-btn"><img src=".\assets\graphics\buttons\Arrow Down.svg" alt=""></button></a>
        </div>
        <div class="socials">
            <div class="socials-container">
                <a href="#contact">
                    <img src=".\assets\icons\email\Property 1=default.png" alt=""
                    (mouseenter)="onMouseEnter('email')" (mouseleave)="onMouseLeave('email')"
                    [src]="hoveredIcon === 'email' ? './assets/icons/email/Property 1=hover blue.svg' : './assets/icons/email/Property 1=default.png'">
                </a>
                <a href="https://github.com/catalina-acosta" target="_blank" rel="noopener noreferrer">
                    <img src=".\assets\icons\github\Property 1=default.png" alt=""
                    (mouseenter)="onMouseEnter('github')" (mouseleave)="onMouseLeave('github')"
                    [src]="hoveredIcon === 'github' ? './assets/icons/github/Property 1=hover blue.svg' : './assets/icons/github/Property 1=default.png'">
                </a>
                <a href="https://www.linkedin.com/in/catalina-acosta-rivera/" target="_blank" rel="noopener noreferrer">
                    <img src=".\assets\icons\linkedin\Property 1=default.svg" alt=""
                    (mouseenter)="onMouseEnter('linkedin')" (mouseleave)="onMouseLeave('linkedin')"
                    [src]="hoveredIcon === 'linkedin' ? './assets/icons/linkedin/Property 1=hover blue.svg' : './assets/icons/linkedin/Property 1=default.svg'">
                </a>
            </div>
        </div>
    </div>
</div>
