<div id="skills" class="content-box">
    <section class="small-content-wrapper">
        <h2>My Skills</h2>
        <div class="skills-wrapper">
            <div class="tech-stack">
                @for(skill of skillsList; track $index) {
                    <div class="skill-box">
                        <div class="img-wrapper">
                            <img src="{{skill.imgPath}}" alt="">
                        </div>
                        <p>{{skill.name}}</p>
                    </div>
                }
            </div>
            <div class="current-learning">
                <div class="content-wrapper">
                    <p>What I am currently learning</p>
                    <div class="currently-learning-content">
                        <div class="new-skills-wrapper">
                            <img src="./assets/graphics/skills/currently-learning/React.svg" alt="">
                            <p>React</p>
                        </div>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                            Sequi, harum? A iste quidem, debitis necessitatibus impedit tempora 
                            reiciendis saepe nesciunt pariatur nisi commodi, hic earum. 
                        </p>
                    </div>
                </div>
                <img class="bg-desktop" src="./assets/graphics/skills/currently-learning/Ellipse BG.svg"  alt="">
            </div>
        </div>
    </section>
</div>
