@use '../../../styles.scss';

.skills-wrapper {
    display: flex;
    gap: 40px;
}

.img-wrapper {
    width: 100px; 
    height: 100px; 
    display: flex;
    justify-content: center;
    align-items: center;
}

.tech-stack {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 4px;

    .skill-box {
        display: flex;
        flex-direction: column;
        align-items: center;

        p {
            font-size: 18px;
            font-weight: 400;
            color: styles.$light-blue;
            max-width: 300px;
            text-align: center;
        }
    }

}

.current-learning {
    width: 370px;
    display: flex;
    align-items: center;
    justify-content: center;

    .content-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;
        align-items: center;

        p {
            text-align: center;
        }
    }

    .new-skills-wrapper {
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .p {
        font-size: 14px;
    }

    .bg-desktop {
        position: absolute;
        z-index: 2;
    }
}

.bg-mobile {
    display: none;
}

@media screen and (max-width: 820px) {
    h2 {
        font-size: 32px;
    }

    p {
        font-size: 16px;
        text-align: center;
        width: 80%;
    }

    .skills-wrapper {
        flex-direction: column;
        align-items: center;
    }

    .current-learning {
        width: 100%;
        padding: 0 54px;

        .bg-desktop {
            display: none;
        }

        .content-wrapper {
            p{
                text-align: left;
            }
        }
        
    }

    .currently-learning-content {
        display: flex;
        flex-direction: row-reverse;
        gap: 48px;

        .bg-mobile {
            display: block;
            position: absolute;
        }
    }
}