<div class="skills">
    <section>
        <h2>My Skills</h2>
        <div class="skills-wrapepr">
            <div class="tech-stack">
                <img src="./assets/graphics/skill-icons/Angular.svg" alt="">
            </div>
            <div class="current-learning">
                <p>I am currently learning</p>
                <div class="new-skills-wrapper">
                    <img src="" alt="">
                    <img src="" alt="">
                </div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Sequi, harum? A iste quidem, debitis necessitatibus impedit tempora 
                    reiciendis saepe nesciunt pariatur nisi commodi, hic earum. 
                    Porro tempore distinctio iusto nobis!
                </p>
                <!-- <img src="" alt="">  background new skills-->
            </div>
        </div>
    </section>
</div>
