<div id="skills" class="content-box" data-aos="fade-right">
    <section class="small-content-wrapper">
        <h2>{{'skills.title' | translate}}</h2>
        <div class="skills-wrapper">
            <div class="tech-stack">
                @for(skill of skillsList; track $index) {
                    <div class="skill-box">
                        <div class="img-wrapper">
                            <img src="{{skill.imgPath}}" alt="{{skill.name}}">
                        </div>
                        <p>{{skill.name}}</p>
                    </div>
                }
            </div>
            <div class="current-learning"(mouseenter)="toggleHovered(true)" (mouseleave)="toggleHovered(false)">
                <div class="content-wrapper" >
                    <p class="current-title">{{'skills.currentLearning' | translate}}</p>
                    <div class="currently-learning-content"> 
                        <div class="new-skills-wrapper">
                            <img src="./assets/graphics/skills/currently-learning/React.svg" alt="background-ellipse">
                            <p>React</p>
                            <img class="bg-mobile" src="./assets/graphics/skills/currently-learning/Ellipse 24 (1).svg" alt="">
                        </div>
                        <p>{{'skills.currentlyLearningText' | translate}}</p>
                    </div>
                    <a href="#contact"><button class="btn-primary">{{'skills.button' | translate}}</button></a>
                </div>
                <img class="bg-desktop"
                [src]="this.hovered ? './assets/graphics/skills/currently-learning/Ellipse BG hover.svg':'./assets/graphics/skills/currently-learning/Ellipse BG.svg'" alt="">
            </div>
        </div>
    </section>
</div>
