@use '../../styles.scss' as styles;

.content-box {
    flex-direction: column;
}

.btn-wrapper {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

h2 {
    margin: 12px 0;
    font-size: 36px;
}

h3 {
    margin: 12px 0;
    font-size: 32px;
    color: styles.$light-blue;
}

a {
    font-size: 18px;
    padding: 0 4px;
    text-decoration: underline;
}

p, li {
    line-height: 24px;
    font-size: 18px;
}

li {
    font-family: 'Josefin Sans', sans-serif;
}

@media screen and (max-width: 940px) {
    .small-content-wrapper {
        width: 100%;
        box-sizing: border-box;
        padding: 12px 24px;
    }
}

@media screen and (max-width:498px) {

    .small-content-wrapper {
        
    }
    p, a, li {
        font-size: 14px;
    }

    h2 {
        font-size: 32px;
    }
}