<app-navbar></app-navbar>
<div class="content-box">
    <div class="small-content-wrapper">
        <div class="btn-wrapper">
            <a [routerLink]="'/'"><button class="btn-secondary">{{ 'imprint.backButton' | translate }}</button></a>
        </div>
        <div id="privacy-policy" class="privacy-policy-template">
            <div class="privacy-policy-content">
                <h2>{{ 'privacyPolicy.title' | translate }}</h2>
                <p>{{ 'privacyPolicy.description' | translate }}</p>

                <h3>{{ 'privacyPolicy.section1Title' | translate }}</h3>
                <p>{{ 'privacyPolicy.section1Description' | translate }}</p>

                <h3>{{ 'privacyPolicy.section2Title' | translate }}</h3>
                <p>{{ 'privacyPolicy.section2Description' | translate }}</p>
                <ul>
                    <li>{{ 'privacyPolicy.section2List.item1' | translate }}</li>
                    <li>{{ 'privacyPolicy.section2List.item2' | translate }}</li>
                    <li>{{ 'privacyPolicy.section2List.item3' | translate }}</li>
                    <li>{{ 'privacyPolicy.section2List.item4' | translate }}</li>
                    <li>{{ 'privacyPolicy.section2List.item5' | translate }}</li>
                    <li>{{ 'privacyPolicy.section2List.item6' | translate }}</li>
                    <li>{{ 'privacyPolicy.section2List.item7' | translate }}</li>
                    <li>{{ 'privacyPolicy.section2List.item8' | translate }}</li>
                </ul>

                <h3>{{ 'privacyPolicy.section3Title' | translate }}</h3>
                <p>{{ 'privacyPolicy.section3Description' | translate }}</p>

                <h3>{{ 'privacyPolicy.section4Title' | translate }}</h3>
                <p>{{ 'privacyPolicy.section4Description' | translate }}</p>

                <h3>{{ 'privacyPolicy.section5Title' | translate }}</h3>
                <p>{{ 'privacyPolicy.section5Description' | translate }}</p>
                <ul>
                    <li>{{ 'privacyPolicy.section5List.item1' | translate }}</li>
                    <li>{{ 'privacyPolicy.section5List.item2' | translate }}</li>
                    <li>{{ 'privacyPolicy.section5List.item3' | translate }}</li>
                    <li>{{ 'privacyPolicy.section5List.item4' | translate }}</li>
                    <li>{{ 'privacyPolicy.section5List.item5' | translate }}</li>
                    <li>{{ 'privacyPolicy.section5List.item6' | translate }}</li>
                </ul>

                <h3>{{ 'privacyPolicy.section6Title' | translate }}</h3>
                <p>{{ 'privacyPolicy.section6Description' | translate }}</p>

                <h3>{{ 'privacyPolicy.section7Title' | translate }}</h3>
                <p>{{ 'privacyPolicy.section7Description' | translate }}</p>
                <p>{{ 'privacyPolicy.contactEmail' | translate }}</p>
            </div>
        </div>
    </div>
</div>