<app-navbar></app-navbar>
<div class="content-box">
    <div class="small-content-wrapper">
        <div class="btn-wrapper">
            <a [routerLink]="'/'"><button class="btn-secondary">{{ 'imprint.backButton' | translate }}</button></a>
        </div>
        <div id="impressum" class="impressum-template">
            <div class="impressum-content">
                <h2>{{ 'imprint.title' | translate }}</h2>
                <p>{{ 'imprint.description' | translate }}</p>
                <p>{{ 'imprint.name' | translate }}</p>
                <p>{{ 'imprint.address' | translate }}</p>
                <p>
                    <strong>{{ 'imprint.phoneLabel' | translate }}</strong> {{ 'imprint.phone' | translate }}<br />
                    <strong>{{ 'imprint.emailLabel' | translate }}</strong> <a href="mailto:catalina.acosta.rivera@gmail.com">{{ 'imprint.email' | translate }}</a>
                </p>
                <h2 id="eu-streitschlichtung">{{ 'imprint.euDisputeResolutionTitle' | translate }}</h2>
                <p>{{ 'imprint.euDisputeResolutionDescription' | translate }}<br />
                    <a href="https://ec.europa.eu/consumers/odr/main/index.cfm?event=main.home2.show&amp;lng=DE" target="_blank" rel="follow noopener">{{ 'imprint.euDisputeResolutionLink' | translate }}</a>
                </p>
                <p>{{ 'imprint.euDisputeResolutionNote' | translate }}</p>
                <h2 id="bildernachweis">{{ 'imprint.imageCreditsTitle' | translate }}</h2>
                <p>{{ 'imprint.imageCreditsDescription' | translate }}</p>
                <p>
                    <strong>{{ 'imprint.imageCreditsOwnerLabel' | translate }}</strong><br />{{ 'imprint.imageCreditsOwner' | translate }}
                </p>
                <p>{{ 'imprint.textCopyright' | translate }}</p>
                <p>{{ 'imprint.source' | translate }}</p>
            </div>
        </div>
    </div>
</div>