@use '../../../styles.scss' as styles;

header {
    display: none;
}

.lang-btn {
    font-size: 18px;
    font-weight: 400;
    padding: 4px;
    border: none;
    color: styles.$dark-grey;
    &:hover {
        color: styles.$white;
    }
}

.active {
    background-image: url('../../../../public/assets/graphics/navbar/Ellipse\ 24.svg');
    background-repeat: no-repeat;
    color: styles.$white;
}

@media screen and (max-width: 912px) {
    header {
        display: block;
        background-color: styles.$dark-grey;
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 100;
    }

    .closed-menu {
        position: absolute;
        top: 0;
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 100%;
        padding: 18px;
        z-index: 23;
        background-color: styles.$dark-grey;
    }
    
    .menu-overlay {
        display: flex;
        justify-content: flex-start;
        height: 100vh;
        background-color: styles.$dark-grey;
        width: 100%;
        z-index: 20;
        position: absolute;
        
        .menu-wrapper {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
            }            

        img {
            position: absolute;
            width: 338px;
        }
        .navlinks-mobile {
            display: flex;
            flex-direction: column;
            z-index: 1;
            justify-content: space-around;
            align-items: center;
            gap: 24px;

            a {
                color: styles.$dark-grey;
                font-size: 22px;
                font-weight: 400;
            }
        }

        .language {
            padding: 4px;

            a {
                font-size: 18px;
                font-weight: 400;
            }
        }
    }
}

@media screen and (max-width: 472px) {
    header {
        height: 88px;
    }
    .logo {
        width: 56px;
    }

    .menu-overlay {
    img {
        position: absolute;
    }
    }
}

@media screen and (max-width: 455px) {
    .menu-overlay {
        top: 6.5rem;
        img {
            position: absolute;
            width: 300px;
        }
    }
}