<div id="references" class="content-box">
    <section class="large-container">
        <h4 class="title-desktop">{{'references.title' | translate}}</h4>
        <div class="title-mobile">
            <h2>Need a teamplayer?</h2>
            <p>Here what my colleagues say about me</p>
        </div>
        <div class="references-container">
            @for (reference of refList; track $index) {
                <div class="references-wrapper" >
                    <div class="reference-info">
                        <div class="ref-title" >
                            <h6>{{reference.name | translate }}</h6>
                            <p>Project <span>{{reference.project}}</span></p>
                        </div>
                        <div class="reference-container">
                            <p>{{reference.refText | translate}}<p>
                        </div>
                        <a href="{{reference.linkedin}}">Linked In Profile</a>
                    </div>
                    <img (mouseenter)="toggleHovered(true, $index)" (mouseleave)="toggleHovered(false, $index)"
                    [src]="this.refList[$index].hovered ?  './assets/graphics/skills/currently-learning/Ellipse BG hover.svg': './assets/graphics/skills/currently-learning/Ellipse BG.svg'" alt="">
                </div>
            }
        </div>
    </section>
</div>

