<div class="references content-box">
    <section class="large-container">
        <h4>Need a teamplayer? Here what my colleagues say about me</h4>
        <div class="references-container">
            @for (reference of refList; track $index) {
                <div class="references-wrapper">
                    <div class="reference-info">
                        <div class="ref-title">
                            <h6>{{reference.name}}</h6>
                            <p>Project <span>{{reference.project}}</span></p>
                        </div>
                        <p>{{reference.refText}}</p>
                        <a href="{{reference.linkein}}">Linked In Profile</a>
                    </div>
                    <img src="./assets/graphics/references/Shape.svg" alt="">
                </div>
            }
        </div>
    </section>
</div>

