@use '../../../styles.scss';

.title-mobile {
    display: none;
}

.large-container {
    width: 1199px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 12px;

    h4 {
        font-weight: 400;
        color: styles.$light-blue;
        margin-bottom: 56px;
        text-align: center;
    }

    .references-container {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        gap: 24px;
        align-items: center;
    }

    .references-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 360px;
        height: 320px;
        margin-bottom: 24px;
        position: relative;

        .reference-info {
            height: 76%;
            width: 80%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            text-align: center;

            a {
                color: styles.$light-blue;
                text-decoration: underline;
                font-weight: 400;
                font-size: 16px;
            }
        }

        img {
            position: absolute;
            z-index: 10;
            top: 0;
            left: 0;
        }
    }
}

.reference-container {
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: styles.$light-blue #042639 ;
    padding: -20px 0;
    margin: 16px 0;
    z-index: 22;
}

@media screen and (max-width: 912px) {
    .title-desktop {
        display: none;
    }
    .title-mobile {
        display: block;
        margin-bottom: 24px;
        width: 100%;
        text-align: center;
        h2 {
            font-size: 32px;
            margin-bottom: 12px;
        }
    }
    .large-container{
        .references-container {
            flex-wrap: nowrap;
            overflow-x: scroll;
            width: 80vw;
            justify-content: flex-start;
        }

        .references-wrapper {
            height: 342px;
            z-index: -1;
            .reference-info {
                width: 360px;
            }
        } 
    }

}

@media screen and (max-width: 448px ) {
    .large-container {
        .references-wrapper {
            height: 268px;

            .reference-info {
                width: 258px;
            }
            img {
                width: 266px;
            }

            h6 {
                font-size: 20px;
            }

            p {
                font-size: 14px;
            }
        }
    }
}