/* You can add global styles to this file, and also import other style files */
$white: #F8F5EC;
$light-blue: #89BCD9;
$salmon: #F28A62;
$dark-grey: #042639;
$light-grey: #262E341F;
$hover-grey: #F8F5EC1F;
$red: #E44C36;
$green: #97E163;

@font-face {
    font-family: 'Anta';
    src: url('../public/assets/fonts/Anta/Anta-Regular.ttf');
}

@font-face {
    font-family: 'Josefin Sans';
    src: url('../public/assets/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}

body {
    background-color: $dark-grey;
}

* {
    box-sizing: border-box;
    margin: 0;
    color: $white;
    scroll-behavior: smooth;
}

.font-anta {
    font-family: 'Anta', sans-serif;
}

.font-josefin {
    font-family: 'Josefin Sans', sans-serif;
}

h1 {
    color: $white;
    font-size: 88px;
    font-weight: 400;
    font-family: 'Anta', sans-serif;
}

h2 {
    font-size: 54px;
    font-weight: 400;
    font-family: 'Anta', sans-serif;
    color: $light-blue;
    margin-bottom: 86px;
}

h3 {
    font-size: 40px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

h4 {
    font-size: 30px;
    font-family: 'Josefin Sans', sans-serif;
}

h5 {
    font-size: 28px;
    font-family: 'Josefin Sans', sans-serif;
}

h6 {
    font-size: 26px;
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-size: 18px;
    color: $white;
    font-family: 'Josefin Sans', sans-serif;
}

a {
    font-size: 26px;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
    text-decoration: none;     
}

button {
    background-color: transparent;
    border: 1px solid $light-blue;
    border-radius: 30px;
    font-size: 18px;
    color: $light-blue;
    font-family: 'Josefin Sans', sans-serif;
    &:hover {
        scale: 1.05;
        cursor: pointer;
    }
}

.btn-secondary {
    padding: 13px 30px; 
    &:hover {
        background-color: $hover-grey;
    }
}

.btn-primary {
    padding: 13px 30px; 
    border: none;
    background-color: $light-blue;
    color: $dark-grey;
    &:hover {
        background-color: $white;
    }
}

.arrow-btn {
    padding: 20px 8px;
    &:hover {
        background-color: $hover-grey;
    }
}

.content-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 102px 0;
}

.small-content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 860px;
}

