/* You can add global styles to this file, and also import other style files */
$white: #F8F5EC;
$light-blue: #89BCD9;
$salmon: #F28A62;
$dark-grey: #042639;
$light-grey: #262E341F;
$red: #E44C36;
$green: #97E163;

