<header>
    <nav>
        <div class="closed-menu" (click)="toggleMenu()" >
            <img class="logo" src="./assets/graphics/mobile/Logo mob.svg" alt="">
            <img src="./assets/graphics/mobile/burger-menu.svg" alt="">
        </div>
        @if (isclicked) {
            <div class="menu-overlay">
                <img src="./assets/graphics/mobile/Overlay.svg" alt="">
                <div class="navlinks-mobile">
                    <a href="#about" (click)="toggleMenu()">Why me</a>
                    <a href="#skills" (click)="toggleMenu()">Skills</a>
                    <a href="#projects" (click)="toggleMenu()">Projects</a>
                    <a href="#contact" (click)="toggleMenu()">Contact</a>
                    <div class="language">
                        <a href="" (click)="toggleMenu()">DE</a>
                        <a href="" (click)="toggleMenu()">EN</a>
                    </div>
                </div>
            </div> 
        } 
        <div class="nav-wrapper"> 
            <img src="./assets/graphics/logo/Variant3.svg" alt="">
            <div class="nav-links">
                <a href="#about">Why me</a>
                <a href="#skills">Skills</a>
                <a href="#projects">Projects</a>
                <a href="#contact">Contact</a>
            </div>
            <div class="language">
                <a href="">DE</a>
                <a href="">EN</a>
            </div>
        </div>
    </nav>
</header>